{% assign count = 0 %}
<div class="gallery">
  {%- for file in site.static_files -%}
    {%- if file.path contains include.folder -%}
	  {%- if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' -%}
	    {%- if count == 0 -%}
	    <div class="row mt-3">
		{%- endif -%}
		  <div class="col-sm mt-3 mt-md-0">
		    {%- include figure.html path=file.path figure_class="gallery" img_class="img-fluid rounded z-depth-1 gallery" zoomable=true -%}
			{%- assign count = count | plus: 1 -%}
		  </div>
		{%- if count == include.columns -%}
		</div>
		{%- assign  count = 0 -%}
		{%- endif -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</div>